body {
    background-color: #f2f2f2;
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    margin: 50px auto;
    width: 400px;
  }

  .form-regi-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    margin: 50px auto;
    width: 400px;
  }

  
  form {
    display: flex;
    flex-wrap: wrap;
  }
  
  label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .cadastro{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
  }

  p{
    text-align: center;
  }